SERVER_PORT=8080

# PostgreSQL database data
DB_PORT=5432
POSTGRES_USER=dbuser
POSTGRES_PASSWORD=dbpass
POSTGRES_DB=db
# url to DB - jdbc:postgresql://{host}:{db_port}/{db_name}
POSTGRES_URL=jdbc:postgresql://localhost:5432/db

# JWT
JWT_SECRET=(random generated Base64 string)
JWT_EXPIRATION=604800000

# number of CPU cores used for code compilation (like kotlin to native binary)
ACTIVE_PROCESSOR_COUNT_FOR_CODE_COMPILATION=2