POSTGRES_USER=dbuser
POSTGRES_PASSWORD=change_me_in_production
POSTGRES_DB=coderun
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=change_me_in_production
JWT_SECRET=change_me_to_random_base64_string
JWT_EXPIRATION=604800000
ACTIVE_PROCESSOR_COUNT=2
ADMIN_EMAIL=admin@coderun.local
ADMIN_PASSWORD=change_me_in_production
